body,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100%;
  max-width: 300px; 
  margin: 20px auto; 
  border : 2px solid black;
  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
}

input {
  margin: 10px;
  padding: 8px;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px;
  width: 80%;
  background-color: rgb(101, 183, 238);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size :x-small;
}
